

.loginPageDiv {
  width: 80vw;
  height: 80vh;
  margin: 10vh auto;
  background-color: #f0efe9ca;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 0 4rem #bbb;
  display: flex;
}

.bannerArea {
  width: 50%;
  height: 80vh;
  background-color: #f0efe9;
  border-radius: 1rem 0 0 1rem;
}

.logo {
  width: 4rem;
  margin: 2rem 0 0 2.5rem;
}

.AppTitle {
  display: inline-block;
  font-size: 2rem;
  vertical-align: top;
  padding: 2.2rem 0;
  font-family: 'Pacifico', cursive;
}

.loginBannerDiv {
  padding: 15% 0;
  text-align: center;
}

.loginBanner {
  width: 70%;
}

.formArea {
  width: 50%;
}
